<div id="page-title">
    <h1 class="page-header text-overflow">
        <span ng-show="apiResource.data.name">Api Resource: {{apiResource.data.name}}</span>
        
        <form class="form-inline pull-right" style="margin-right: 20px;" name="deleteApiResourceForm" ng-submit="deleteApiResource(apiResource)">
            <tt-prompt id="m" action="Delete">Are you sure you want to delete Api Resource <strong>{{apiResource.data.name}}</strong>?</tt-prompt>
            <button type="submit" class="btn btn-primary" tt-confirm-click="#m">Delete Api Resource</button>
        </form>

    </h1>
</div>

<div ng-show="apiResource">
    <div class="panel-body">
        <div class="tab-base">
            <ul class="nav nav-tabs">                
                <li class="{{!tab ?'active':''}}" ng-show="apiResource.data.properties">
                    <a ng-click="tab=0" href="#/apiresources/edit/{{identityResource.data.subject}}" role="tab" data-toggle="tab">Properties</a>
                </li>

                <li class="{{tab==1?'active':''}}" ng-show="apiResource.data.claims">
                    <a ng-click="tab=1" href="#/apiresources/edit/{{identityResource.data.subject}}" role="tab" data-toggle="tab">Claims</a>
                </li>
            </ul>
        </div>
    </div>
</div>